

.container {
    position: relative;
    width: 1200px;
    height: 2000px;
    border: 5px dashed orange;
    margin: 0 auto;
}

.container div {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 10%;
    box-sizing: border-box;
    text-align: center;
    font-size: 48px;
}

.container .sticky {
    position: -webkit-sticky;
    position: sticky;
    border: 3px solid black;
}

.container .base {
    position: absolute;
    border: 3px dashed #ddd;
    z-index: -1;
    color: #ddd;
}

.first { left: 40%; top: 0;}


/*
근데 50% 50% 주면 사각형의 왼쪽위 모서리가 기준점이기 때문에
딱 중앙에 오지 않음 / 다음 시간에 변형속성에서 배울 것
*/

.fifth { top: 0; left: 500px;}
.sixth { top: 200px; left: 500px;}
.seventh { top: 400px; left: 500px;}
.eighth { top: 600px; left: 500px;}


